:root {
  --ca-tg-top: calc(
    var(--tg-viewport-safe-area-inset-top, 0px) +
      var(--tg-viewport-content-safe-area-inset-top, 0px)
  );
  --ca-tg-bottom: calc(
    var(--tg-viewport-safe-area-inset-bottom, 0px) +
      var(--tg-viewport-content-safe-area-inset-bottom, 0px)
  );
  --ca-tg-left: calc(
    var(--tg-viewport-safe-area-inset-left, 0px) +
      var(--tg-viewport-content-safe-area-inset-left, 0px)
  );
  --ca-tg-right: calc(
    var(--tg-viewport-safe-area-inset-right, 0px) +
      var(--tg-viewport-content-safe-area-inset-right, 0px)
  );

  --ca-safe-top: max(env(safe-area-inset-top, 0px), var(--ca-tg-top));
  --ca-safe-bottom: max(env(safe-area-inset-bottom, 0px), var(--ca-tg-bottom));
  --ca-safe-left: max(env(safe-area-inset-left, 0px), var(--ca-tg-left));
  --ca-safe-right: max(env(safe-area-inset-right, 0px), var(--ca-tg-right));

  --ca-vh: calc(100dvh - var(--ca-safe-top) - var(--ca-safe-bottom));
}

html,
body,
#root {
  overscroll-behavior: none;
}
